name: Python CI
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install Dependencies
        run: |
          pip install -r requirements.txt

      - name: Lint (flake8)
        run: |
          pip install flake8
          flake8 --ignore=E226,E203,E251,W293,E501 .

      # Streamlit test must NOT run on Windows
      - name: Run streamlit app
        if: matrix.os == 'ubuntu-latest'
        run: |
          nohup python -m streamlit run app.py --server.headless true &
          sleep 10
          echo "App started successfully"

      # Docker build and push must run ONLY on Ubuntu
      - name: Build and Push Docker
        if: matrix.os == 'ubuntu-latest'
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: kaustav812/stock-predictor_kaust:latest
          builder: default
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
